*{
    padding: 0;
    margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(140deg, rgb(14, 14, 43), rgb(17, 179, 207)); */
  background-color: #4ebeef;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: #ff4244;
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: #4ebeef;
  transition: 0.3s;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: #333;
}

form input.equal {
  width: 124px;
}

form .loos {
  display: flex;
  justify-content: flex-end;
  margin: 1px 0px 20px 0px;
}

form .loos input {
  height: 1px !important;
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: #4ebeef;
}

form .changecolor {
  background-color: #f0ca28 !important;
}

form .changecolor:hover {
  background-color: #4ebeef !important;
  transition: 0.3s;
}

form .equalcolor {
  background-color: #00363d !important;
}

form .equalcolor:hover {
  background-color: #4ebeef !important;
  transition: 0.3s;
}
